.header {
  width: 100%;
  background-color: #fff;
  padding: 14px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input {
  width: 534px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 14px 0 7px;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  line-height: 150%;
}

.header__input::placeholder {
  color: #909090;
}

.header__star {
  cursor: pointer;
}
